*{
    padding: 0%;
    background-color:aliceblue;
}
h1{
    text-align: center;
    align-items: center;
}
.container{
    display: flex;
    text-align: center;
    align-items: center;
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
button{
    padding: 10px;
    background-color:rgba(233, 233, 232, 0.768);
    cursor: pointer;
}
